<% if flash.any? %>
  <div class="space-y-4 mb-6" data-controller="flash">
    <% flash.each do |type, message| %>
      <% config = flash_config(type) %>
      <div class="rounded-lg border <%= config[:container] %> p-4" data-flash-target="message" role="alert">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 <%= config[:icon] %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
              <%= config[:icon_path].html_safe %>
            </svg>
          </div>
          <div class="ml-3 flex-1">
            <p class="text-sm font-medium <%= config[:text] %>">
              <%= message %>
            </p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button type="button" class="inline-flex rounded-md p-1.5 <%= config[:text] %> hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-<%= config[:icon].gsub('text-', '') %>" data-action="click->flash#dismiss" aria-label="Dismiss notification">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
